LINE_CHANNEL_SECRET=7e357b287660bd060e3f9f0625b74573
LINE_CHANNEL_ACCESS_TOKEN=oMxJqnkgBMjbI3cIEdduKI3NoeeEdWivgKZ2ei47Y5x0Izf0oNT25wnus4Rvxf61Db8mScxcIQuHH++cRhnHsk/KCscPwuP4U+vDAk+5F+zRkJ0RI5MvgiCBqrrXJFyHjdUcWaix3ShmtrQ3Sb15ngdB04t89/1O/w1cDnyilFU=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
OPENROUTER_API_KEY=